
.container-fluid{
    height:900px;
}
.nav{
    border:1px solid gray;
    width:15%;
    height:100%;
    float: left;
}
.content{
    border:1px solid gray;
    width: 85%;
    height:100%;
    float: left;
}




/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
}